*{margin: 0;padding: 0;}
#main{height: 800px;width: 800px;margin: 0 20%;padding-top: 100px;padding-left: 50px;border: 1px solid black;}
#Header{height: 500px;width: 700px;padding-top: 50px;}
.inp{width: 650px;}
.sub2{text-align: center;}
